{% extends 'base.html' %}
{% block content %}


<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Path</th>
    </thead>
    <tbody>
    {% for project in project_list %}
    <tr>
        <th scope="row"></th>
        <td><p>{{ project.name }}</p>
            <p>branch:{{ project.branch_now}}</p></td>
        <td>

            <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'task_id' project.id %}" style="text-decoration:none;">
                    Detail
                </a>
            </button>


            <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'static' project.id %}" style="text-decoration:none;">
                    Apply static
                </a>
            </button>
            {% for p in perm %}
            {% if 2 == p.class_permission %}

            <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'access' project.id %}" style="text-decoration:none;">
                    Access logs
                </a>
            </button>

            <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'error' project.id %}" style="text-decoration:none;">
                    Error logs
                </a>
            </button>

            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">
                Restart Project
            </button>
            {%endif%}
            {%endfor%}

            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Enter sudo password</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <form class="d-flex" action="{% url 'restart_serve' project.id %}" method="post">
                                {% csrf_token %}
                                <input class="form-control mr-2" type="password" placeholder="Password"
                                       name="key" aria-label="key">
                                <button type="submit" class="btn btn-outline-dark" type="submit">
                                    Apply
                                </button>
                            </form>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>


            <button type="button" class="btn btn-outline-dark">
                <a href="{% url 'migrate' project.id  %}" style="text-decoration:none;">
                    Migrate
                </a>
            </button>


            </button>


            <div class="d-inline-flex">
                {% for p in perm %}
                {% if 3 == p.class_permission %}
                <button type="button" class="btn btn-outline-dark">
                    <a href="{% url 'pull' project.id %}" style="text-decoration:none;">
                        Pull
                    </a>
                </button>

                <form class="d-flex" action="{% url 'branch'  project.id %}" method="get">
                    <select name="branch" id="q">
                        {% for branch in project.return_repo_branch %}
                        <option value={{branch}}>{{branch}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-outline-dark" type="submit">
                        Apply
                    </button>
                </form>

                {% endif %}
                {% endfor %}

                {% for p in perm %}
                {% if 1 == p.class_permission %}

                <button type="button" class="btn btn-outline-dark">
                    <a href="{% url 'shell_commands' project.id %}" style="text-decoration:none;">
                        Shell
                    </a>
                </button>
                {%endif%}
                {%endfor%}
            </div>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock content %}
